<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios_baemin_waiting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9879D9AA1F34054900B4131A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9879D9BE1F34054900B4131A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9879D9C91F34054900B4131A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9879D9E01F342CAE00B4131A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9879D9EE1F342CCC00B4131A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
