/*************  Footer Start  ************/
div#footer {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #CCC;
}

div.corp-desc {
    padding: 50px;
    color: white;
    font-size: .9em;
    font-weight: lighter;
}

span.cr {
    display: block;
}
/*************  Footer End  ************/