$manage-green: #92e595;
$manage-red: #ff7575;

div.manage {
    width: 50vw;
    margin: 30px auto;
    text-align: center;
    position: relative;
}

div.waiting-list {
    padding: 5px;
    height: 50vh;
    overflow: auto;
    margin-top: 30px;
}

div.waiting-member {
    width: 40vw;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #CCC;
    transition: .3s;
    &:hover {
        box-shadow: 1px 1px 8px #999;
        transition: .3s;
    }
}

div.waiting-info {
    float: left;
    text-align: left;
    margin-top: 25px;
    margin-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

p.waiting-name {
    font-weight: bold;
    font-size: 1.5em;
}

span.waiting-num {
    color: $primary-color;
    font-size: .8em;
    margin-left: 15px;
}

p.waiting-tel {
    margin-top: 5px;
    font-size: 1.2em;
}

div.waiting-btn-area {
    float: right;
}

div.waiting-btn-area div {
    width: 80px;
    height: 100px;
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

div.btn-alarm {
    position: relative;
    background-image: url("/dist/public/images/bell.png");
    background-color: $manage-green;
}

div.btn-delete {
    background-image: url("/dist/public/images/close-white.png");
    background-color: $manage-red;
}

div.input-client {
    position: absolute;
    height: 150px;
    background-color: red;
    bottom: 0;
}

ul.alarm-opt {
    position: absolute;
    top: 100px;
    width: 80px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid $manage-green;
    border-top: none;
    z-index: 10;
}

ul.alarm-opt > li {
    overflow: hidden;
    height: 0;
    transition: .2s;
}

ul.show-opt > li {
    height: 30px;
    line-height: 30px;
    transition: .2s;
    background-color: white;
    &:hover {
        background-color: $manage-green;
        color: white;
    }
}

@media screen and (max-width: 768px) {
    div.waiting-member {
        width: 180px;
        height: 130px;
    }
    div.waiting-btn-area div {
        margin-top: 7px;
        width: 90px;
        height: 50px;
    }
    p.waiting-name {
        font-weight: bold;
        font-size: 1.3em;
    }

    span.waiting-num {
        color: $primary-color;
        font-size: .8em;
        margin-left: 15px;
    }

    p.waiting-tel {
        margin-top: 5px;
        font-size: 1em;
    }
    ul.alarm-opt {
        position: absolute;
        top: 50px;
    }
}