@import "base.scss";

$manage-green: #92e595;
$manage-red: #ff7575;
$manage-blue: #ffd775;

div.manage {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    padding-top: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.manage-switch  > .onoff {
    float: left;
    margin-left: 30px;
    position: relative;
}

div.manage-switch  > .line {
    float: right;
    margin-right: 30px;
    position: relative;
}

div.waiting-list {
    width: 50vw;
    padding: 5px;
    height: calc(100% - 230px);
    overflow: auto;
    margin-top: 30px;
    margin: auto;
}

div.waiting-member {
    width: 40vw;
    height: 80px;
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #CCC;
    transition: .3s;
    &:hover {
        box-shadow: 1px 1px 8px #999;
        transition: .3s;
    }
}

div.waiting-info {
    float: left;
    text-align: left;
    margin-top: 15px;
    margin-left: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.waiting-cli {
    float: left;
}
p.waiting-name {
    font-weight: bold;
    font-size: 1.5em;
}

span.waiting-num {
    color: $primary-color;
    font-size: .8em;
    margin-left: 15px;
}

p.waiting-tel {
    margin-top: 5px;
    font-size: 1.2em;
}

div.waiting-btn-area {
    float: right;
}

div.waiting-btn-area div {
    width: 80px;
    height: 80px;
    float: left;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
}

div.after-alarm {
    float: right;
}

div.after-alarm span {
    float: left;
    width: 20px;
    height: 20px;
    background-color: $manage-green;
    border-radius: 20px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
    font-size: .8em;
    font-weight: bold;
    line-height: 20px;
    visibility: hidden;
}

div.btn-alarm {
    position: relative;
    background-image: url("/dist/public/images/bell.png");
    background-color: $manage-green;
}

div.btn-delete-can {
    background-image: url("/dist/public/images/close-white.png");
    background-color: $manage-red;
}

div.btn-delete-in {
    background-image: url("/dist/public/images/login.png");
    background-color: $manage-blue;
}

div.manage-input-area {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: $secondary-color;
    border-radius: 0 0 10px 10px; 
    bottom: 0;
    z-index: 20;
}

dl.client-form {
    width: 400px;
    margin-left: 30px;
}

dl.client-form dt {
    width: 30%;
    height: 20px;
    float: left;
    margin-top: 10px;
}

dl.client-form dd {
    width: 70%;
    height: 20px;
    float: right;
    margin-top: 10px;
}

dd input {
    width: 80%;
    height: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

button#btn-add-client {
    @extend .full-color-button;
    position: absolute;
    width: 150px;
    height: 30px;
    right: 20px;
    bottom: 20px;
    font-size: 1.2em;
}

ul.alarm-opt {
    position: absolute;
    top: 79px;
    width: 80px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid $manage-green;
    border-top: none;
    z-index: 10;
}

ul.alarm-opt > li {
    overflow: hidden;
    height: 0;
    transition: .2s;
}

ul.show-opt > li {
    height: 30px;
    line-height: 30px;
    transition: .2s;
    background-color: white;
    &:hover {
        background-color: $secondary-color;
        color: white;
    }
}

div.onoff > div, div.line > div {
    width: 32px;
    height: 32px;
    display: inline-block;
}

div#switch-off {
    background-image: url("/dist/public/images/closed.png");
    background-size: cover;
    background-repeat: no-repeat;
}

div#switch-on {
    background-image: url("/dist/public/images/open.png");
    background-size: cover;
    background-repeat: no-repeat;
}

div#switch-deny {
    background-image: url("/dist/public/images/cancel.png");
    background-size: cover;
    background-repeat: no-repeat;
}

div#switch-allow {
    background-image: url("/dist/public/images/checked.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #92e595;
}

input:focus + .slider {
  box-shadow: 0 0 1px #92e595;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media only screen and (min-width : 840px) and (max-width : 1200px) {
    // div.waiting-member {
    //     width: 180px;
    //     height: 120px;
    // }
    div.waiting-btn-area div {
        width: 50px;
    }

    span.waiting-num {
        color: $primary-color;
        margin-left: 15px;
    }

    p.waiting-tel {
        margin-top: 5px;
        font-size: 1em;
    }
    ul.alarm-opt {
        width: 50px;
        position: absolute;
        top: 49px;
    }
}

@media screen and (max-width: 840px) {
    div.waiting-member {
        width: 180px;
        height: 120px;
    }
    div.waiting-btn-area div {
        margin-top: 7px;
        width: 60px;
        height: 50px;
    }
    p.waiting-name {
        font-weight: bold;
        font-size: 1.3em;
    }

    span.waiting-num {
        color: $primary-color;
        font-size: .8em;
        margin-left: 15px;
    }

    p.waiting-tel {
        margin-top: 5px;
        font-size: 1em;
    }
    ul.alarm-opt {
        width: 60px;
        position: absolute;
        top: 49px;
    }
    div.after-alarm {
        display: none;
    }

    div.manage-input-area {
        height: 150px;
    }

    dl.client-form {
        width: 300px;
        margin-left: 10px;
    }

    button#btn-add-client {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}