$primary-color:#2AC1BC;
$secondary-color: #ABE2E0;

div.go-register {
    text-align: center;
    margin-top: 35vh;
}

div.go-register span {
    display: block;
    font-size: 1.2em;
    font-weight: bolder;
}

button#btn-go-register {
    color: white;
    background-color: $primary-color;
    margin-top: 30px;
    width: 150px;
    height: 30px;
    border-radius: 30px;
    font-size: 1.2em;
}