.border-input {
  border: 1px solid #FFDFAF;
  border-radius: 5px; }

.full-color-input {
  background-color: #FFDFAF;
  border-radius: 5px; }

.border-button {
  border: 1px solid #FFAD27;
  border-radius: 30px;
  color: #FFAD27; }

.full-color-button {
  background-color: #FFAD27;
  border-radius: 30px;
  color: white; }

div.go-register {
  text-align: center;
  margin-top: 35vh; }

div.go-register span {
  display: block;
  font-size: 1.2em;
  font-weight: bolder; }

button#btn-go-register {
  color: white;
  background-color: #FFAD27;
  margin-top: 30px;
  width: 150px;
  height: 30px;
  border-radius: 30px;
  font-size: 1.2em; }
