::-webkit-input-placeholder {
  font-size: .8em; }

:-moz-placeholder {
  /* Firefox 18- */
  font-size: .8em; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: .8em; }

div.register-store {
  width: 50vw;
  text-align: center;
  margin: auto;
  padding: 50px; }

div.register-store > div {
  height: 50vh;
  overflow: auto; }

dl.reg-form {
  width: 100%;
  overflow: auto;
  margin-top: 50px; }

dl.reg-form input {
  height: 30px;
  font-size: 1.2em;
  border-bottom: 1px solid #2AC1BC; }

dl.reg-form dl {
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  padding: 0;
  margin-top: 50px;
  font-size: 1em; }

dl.reg-form dt {
  width: 25%;
  float: left;
  padding: 0;
  padding-right: calc(5%);
  margin: 0;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  text-align: left;
  color: #333; }

dl.reg-form dd {
  float: left;
  width: 65%;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-bottom: 10px; }

div.input-menu {
  margin-bottom: 10px; }

input#regist-title {
  width: 70%; }

input#regist-desc {
  width: 90%; }

input.menu-name {
  width: 35%;
  margin-right: 5%; }

input.menu-price {
  width: 30%;
  margin-right: 5%; }

button.remove-menu {
  width: 10%;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 3px solid #2AC1BC;
  color: #2AC1BC;
  font-size: 1.2em;
  font-weight: bold; }

button.add-menu {
  width: 10%;
  height: 30px;
  background-color: #2AC1BC;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  float: right; }

button#btn-reg-store {
  margin-top: 50px;
  width: 200px;
  height: 35px;
  color: white;
  background-color: #2AC1BC;
  border-radius: 30px;
  font-size: 1.3em; }
