.border-input {
  border: 1px solid #FFD99E;
  border-radius: 5px; }

.full-color-input {
  background-color: #FFD99E;
  border-radius: 5px; }

.border-button {
  border: 1px solid #FFAD27;
  border-radius: 30px;
  color: #FFAD27; }

.full-color-button {
  background-color: #FFAD27;
  border-radius: 30px;
  color: white; }

.btn-base, button.remove-menu, button.add-menu, button#btn-search-store {
  width: 10%;
  height: 30px;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold; }

::-webkit-input-placeholder {
  font-size: .8em; }

:-moz-placeholder {
  /* Firefox 18- */
  font-size: .8em; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: .8em; }

div.register-store {
  width: 50vw;
  text-align: center;
  margin: auto;
  padding: 50px; }

h1.m-regist-title {
  display: none; }

div.register-store > div {
  height: 50vh;
  overflow: auto; }

dl.reg-form {
  width: 100%;
  overflow: auto;
  margin-top: 50px; }

dl.reg-form input {
  height: 30px;
  font-size: 1.2em;
  border-bottom: 1px solid #FFAD27; }

dl.reg-form dl {
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  padding: 0;
  margin-top: 50px;
  font-size: 1em; }

dl.reg-form dt {
  width: 25%;
  float: left;
  padding: 0;
  padding-right: calc(5%);
  margin: 0;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  text-align: left;
  color: #333; }

dl.reg-form dd {
  float: left;
  width: 65%;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-bottom: 10px; }

div.input-menu {
  margin-bottom: 10px; }

input#regist-name {
  width: 70%; }

input#regist-location {
  width: 90%; }

input#regist-desc {
  width: 90%; }

input.menu-name {
  width: 35%;
  margin-right: 5%; }

input.menu-price {
  width: 30%;
  margin-right: 5%; }

button.remove-menu {
  background-color: white;
  border: 3px solid #FFAD27;
  color: #FFAD27; }

button.add-menu {
  background-color: #FFAD27;
  color: white;
  float: right; }

button#btn-search-store {
  width: 20%;
  background-color: #FFAD27;
  color: white; }

button#btn-reg-store {
  position: absolute;
  bottom: 30px;
  width: 200px;
  height: 35px;
  color: white;
  background-color: #FFAD27;
  border-radius: 30px;
  font-size: 1.3em;
  left: 0;
  right: 0;
  margin: auto; }

@media only screen and (max-width: 768px) {
  h1.regist-title {
    display: none; }
  h1.m-regist-title {
    display: block; }
  dl.reg-form dl {
    width: 100%;
    margin: 0;
    margin-top: 30px; }
  dl.reg-form dt {
    width: 100%; }
  dl.reg-form dd {
    width: 100%; }
  input#regist-location,
  input#regist-tel,
  input#regist-desc,
  input#regist-file {
    width: 100%; } }
