canvas {
  width:400px !important;
  height:230px !important;
}

div.stat {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  position: relative;
}

div.stat > h1 {
  margin-top: 30px;
}

div.chart-area {
  width: 800px;
  height: 80%;
  margin-top: 30px;
  margin: auto;
  overflow: auto;
}

div.weekCount-area {
  width: 400px;
  height: 230px;
  float: left;
}

div.age-area {
  width: 400px;
  height: 230px;
  float: left;
}

div.time-area {
  width: 400px;
  height: 230px;
  float: left;
  margin-top: 50px;
}

div.party-area {
  width: 400px;
  height: 230px;
  float: left;
  margin-top: 50px;
}

div.party-area > canvas {
  width:230px !important;
  margin: auto;
}
