@import "base.scss";


div.store-list {
    width: 80%;
    margin: 40px auto  20px auto;
    text-align: center;
    position: relative;
}

div.store-card-list {
    height: 55vh;
    overflow: auto;
}

dd.card-desc {
    font-size: .8em;
}

div.store-card {
    width: 220px;
    height: 250px;
    box-shadow: 1px 1px 5px #CCC;
    margin-right: 20px;
    margin-bottom: 30px;
    float: left;
    transition: .4s;
}

div.store-card:hover {
    box-shadow: 3px 3px 5px #999;
    transition: .4s;
}

img.card-img {
    width: 100%;
    height: 180px;
    background-color: $secondary-color;
}

div.store-card dl {
    text-align: left;
    margin: 10px;
}

dt.card-title {
    font-size: 1.3em;
    font-weight: bold;
}

@media screen and (min-width: 1200px) {
   
    div.store-card-list {
        width: 710px;
        margin: auto;
        margin-top: 20px;
    }

    div.store-card:nth-child(3n) {
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) { 

    div.store-card-list {
        width: 465px;
        margin: auto;
        margin-top: 20px;
    }

    div.store-card:nth-child(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    div.store-card-list {
        width: 230px;
        height: 60vh;
        margin: auto;
        margin-top: 20px;
    }

    div.store-card {
        margin: auto;
        margin-bottom: 10px;
    }
}
