<div class="home">
    <h1>배민 웨이팅</h1>
    <p>맛집의 손님들을 위한 대기 서비스</p>
    <p>이제 배민웨이팅으로 고객들에게 더 좋은 서비스로</p>
    <div class="btn-area">
        <button id="btn-intro">서비스 소개</button>
        <button id="btn-go-login">로그인 하기</button>
    </div>
</div>