<section id="main">
  <div class="header-navi">
    <ul class="inline-list">
      {{#each this}}
      <li id={{this.id}}>{{this.content}}</li>
      {{/each}}
    </ul>
  </div>
  <div id="view"></div>
  <div id="introduce"></div>
</section>