<div class="view">
</div>

<div class="intro">
    <h1 id="intro-title">배민 웨이팅 서비스를 소개합니다</h1>
    <div class="intro-area">
        <div class="intro-box">
            <div class="circle intro-img"></div>
            <p class="intro-desc">
                먼저 배민 웨이팅 회원가입으로</br> 사장님의 계정을 만들어주세요.
            </p>
        </div>
        <div class="intro-box">
            <div class="circle intro-img"></div>
            <p class="intro-desc">
                로그인 후, 가게등록에서 </br> 가게명, 가게 소개, 위치, 메뉴 등을</br> 입력해주세요.
            </p>
        </div>
        <div class="intro-box">
            <div class="circle intro-img"></div>
            <p class="intro-desc">
                배민 웨이팅 가게관리 페이지에서</br> 대기 고객들을 </br>효율적으로 관리하세요!
            </p>
        </div>
    </div>
    <div class="show-manage">
    <div class="manage-title">
        <div id="manage-status">가게 관리하기</div>
        <div id="manage-arrow"></div>
    </div>

    <div class="sign-box">
        <div class="sign sign-up-box">
            <span class="sign-up-title">Welcome to 배민 웨이팅</span>
            <dl>
                <dt>이름</dt>
                <dd><input type="text"></dd>
                <dt>아이디</dt>
                <dd><input type="text"></dd>
                <dt>비밀번호</dt>
                <dd><input type="password"></dd>
                <dt>전화번호</dt>
                <dd><input type="tel"></dd>
            </dl>
            <button class="sign-up-button">회원가입</button>
        </div>
        <div class="vertical-line"></div>
        <div class="sign sign-in-box">
            <dl>
                <dt>아이디</dt>
                <dd><input type="text"></dd>
                <dt>비밀번호</dt>
                <dd><input type="password"></dd>
            </dl>
            <button class="sign-in-button">로그인</button>
        </div>
    </div>
</div>
<script src="../main.js"></script>