<div class="manage">
    <h1>가게 이름</h1>

    <div class="waiting-list">
        <div class="waiting-member">
            <div class="waiting-info">
                <p class="waiting-name">김하은 <span class="waiting-num">3명</span> </p>
                <p class="waiting-tel">010-1234-1234</p>
            </div>
            <div class="waiting-btn-area">
                <div class="btn-alarm">
                    <ul class="alarm-opt">
                        <li>5분 전</li>
                        <li>10분 전</li>
                    </ul>
                </div>
                <div class="btn-delete"></div>
            </div>
        </div>


        <div class="waiting-member">
            <div class="waiting-info">
                <p class="waiting-name">김하은 <span class="waiting-num">3명</span> </p>
                <p class="waiting-tel">010-1234-1234</p>
            </div>
            <div class="waiting-btn-area">
                <div class="btn-alarm">
                    <ul class="alarm-opt">
                        <li>5분 전</li>
                        <li>10분 전</li>
                    </ul>
                </div>
                <div class="btn-delete"></div>
            </div>
        </div>
        
    </div>

    <div class="input-client">
    </div>
</div>