<div class="manage">
    <h1>가게 이름</h1>

    <div class="manage-switch">
        <div class="onoff">
            <span>OFF</span>
            <label class="switch">
                <input type="checkbox" id="store-status">
                <span class="slider round"></span>
            </label>
            <span>ON</span>
        </div>

        <div class="line">
            <span>대기 거부</span>
            <label class="switch">
                <input type="checkbox" id="line-status">
                <span class="slider round"></span>
            </label>
            <span>대기 허용</span>
        </div>
    <div>

    <div class="waiting-list">
    </div>

    <div class="manage-input-area">
        <dl class="client-form">
            <dt>이름</dt>
            <dd><input type="text" id="add-name"></dd>
            <dt>인원</dt>
            <dd><input type="number" id="add-count"></dd>
            <dt>전화번호</dt>
            <dd><input type="number" id="add-tel"></dd>
        </dl>
        <button id="btn-add-client">추가</button>
    </div>
</div>
