<div class="manage">
    <h1>가게 이름</h1>

    <div class="waiting-list">
        {{#each}}
        <div class="waiting-member">
            
            <div class="waiting-btn-area">
                <div class="btn-alarm"></div>
                <div class="btn-delete"></div>
            </div>
        </div>
        {{/each}}

        <div class="waiting-member">
            
            <div class="waiting-btn-area">
                <div class="btn-alarm"></div>
                <div class="btn-delete"></div>
            </div>
        </div>

    </div>

    <div class="input-client">

    </div>
</div>