<div class="manage">
    <h1>{{this.title}}</h1>

    <div class="manage-switch">
        <div class="onoff">
            <div id="switch-off"></div>
            <label class="switch">
                <input type="checkbox" id="store-status" {{storeStatus this.opened 0}}>
                <span class="slider round"></span>
            </label>
            <div id="switch-on"></div>
        </div>

        <div class="line">
            <div id="switch-deny"></div>
            <label class="switch">
                <input type="checkbox" id="line-status" {{storeStatus this.opened 1}}>
                <span class="slider round"></span>
            </label>
            <div id="switch-allow"></div>
        </div>
    </div>

    <div class="waiting-list">
    </div>

    <div class="manage-input-area">
        <dl class="client-form">
            <dt>이름</dt>
            <dd><input type="text" id="add-name"></dd>
            <dt>인원</dt>
            <dd><input type="number" id="add-count"></dd>
            <dt>전화번호</dt>
            <dd><input type="number" id="add-tel"></dd>
        </dl>
        <button id="btn-add-client">추가</button>
    </div>
</div>
