<div class="register-store">
    <h1 class="regist-title">사장님의 가게를 수정해주세요</h1>
    <div>
        <dl class="reg-form">
            
            <dt>업체명</dt>
            <dd>
                <input type="text" id="mod-name" value="{{this.title}}">
            </dd>

            <dt>업체 위치</dt>
            <dd>
                <input type="text" id="mod-location" value="{{this.addr}}">
                <button id="btn-search-location">지도확인</button>
            </dd>


            <dt>업체 설명</dt>
            <dd><input type="text" id="mod-desc" value="{{this.desc}}"></dd>

            <dt>업체 사진</dt>
            <dd><input type="file" placeholder="파일선택을 눌러 변경"></dd>

            <dt>메뉴</dt>
            <dd class="menus">
                <button class="add-menu">+</button>
            </dd>
            
        </dl>
    </div>

    <button id="btn-reg-store">가게등록</button>

</div>



<div class="map-modal">
    <div class="map-modal-content">
        <span id="btn-map-close" class="btn-close"><img src="/dist/public/images/close.png"></span>
        <div id="map"></div>
        <button id="btn-map-confirm">확인</button>
    </div>
</div>