<div class="my-info">
    <div class="my-auth">
        <dl>
            <dt>이름</dt>
            <dd>사장님 이름</dd>

            <dt>비밀번호 변경</dt>
            <dd><input type="password"></dd>

            <dt>연락처</dt>
            <dd>010-1234-1234</dd>
        </dl>

        <button>수정하기</button>
    </div>

    <div class="vertical-line"></div>

    <div class="my-store">
        <dl class="update-form">
            
            <dt>업체명</dt>
            <dd>업체이름ㅁㅁㅁㅁ</dd>

            <dt>업체 설명</dt>
            <dd>업체 설명ㅇㅇㅇㅇ</dd>

            <dt>업체 사진</dt>
            <dd>사진이 여기에 빠밤</dd>

            <dt>메뉴</dt>
            <dd class="menus">
                <dl>
                    <dt>메뉴이름이 여기에 땋</dt>
                    <dd>메뉴 가격도 땋</dd>
                </dl>
            </dd>
            
        </dl>

        <button id="btn-go-modify">수정하러가기</button>
    </div>

</div>