<div class="my-info">
    <div class="my-auth">
        <dl class="my-auth-form">
            <dt>이름</dt>
            <dd><input type="text" id="mod-name" value="원래이름"></dd>

            <dt>비밀번호</dt>
            <dd><input type="password" id="mod-pwd"></dd>

            <dt>연락처</dt>
            <dd><input type="number" id="mod-tel" value="123123"></dd>
        </dl>

        <button id="btn-info-modify">수정하기</button>
    </div>

    <div class="vertical-line"></div>

    <div class="my-store">
        <dl class="my-store-form">
            <dt>우리가게 이름</dt>
            <dd>업체이름ㅁㅁㅁㅁ</dd>

            <dt>우리가게 설명</dt>
            <dd>업체 설명ㅇㅇㅇㅇ</dd>

            <dt>우리가게 사진</dt>
            <dd class="my-img-box">
                <img src="" alt="">
            </dd>

            <dt>우리가게 메뉴</dt>
            <dd class="menus">
                <table>
                    <tr>
                        <td class="menu-name">메뉴이름</td>
                        <td class="menu-price">메뉴가격</td>
                    </tr>
                </table>
            </dd>
        </dl>

        <button id="btn-go-modify">수정하러가기</button>
    </div>

</div>