<div class="register-store">
    <h1 class="regist-title">사장님의 가게를 등록해주세요</h1>
    <h1 class="m-regist-title">가게등록</h1>
    <div>
        <dl class="reg-form">
            
            <dt>업체명</dt>
            <dd>
                <input type="text" id="regist-name">
                {{!-- <button id="btn-search-store">검색</button> --}}
            </dd>

            <dt>업체 위치</dt>
            <dd>
                <input type="text" id="regist-location" placeholder="도로명 주소 입력 후 지도확인을 해주세요">
                <button id="btn-search-location">지도확인</button>
            </dd>

            <dt>전화번호</dt>
            <dd><input type="number" id="regist-tel"></dd>

            <dt>업체 설명</dt>
            <dd><input type="text" id="regist-desc"></dd>

            <dt>업체 사진</dt>
            <dd><input type="file" id="regist-file"></dd>

            <dt>메뉴</dt>
            <dd class="menus">
                <button class="add-menu">+</button>
            </dd>
            
        </dl>
    </div>

    <button id="btn-reg-store">가게등록</button>
    {{!-- jw --}}
</div>


<div class="map-modal">
    <div class="map-modal-content">
        <span id="btn-map-close" class="btn-close"><img src="/dist/public/images/close.png"></span>
        <div id="map"></div>
        <button id="btn-map-confirm">확인</button>
    </div>
</div>