<div class="register-store">
    <h1 class="regist-title">사장님의 가게를 등록해주세요</h1>
    <div>
        <dl class="reg-form">
            
            <dt>업체명</dt>
            <dd>
                <input type="text" id="regist-name">
                <button id="btn-search-store">검색</button>
            </dd>

            <dt>업체 위치</dt>
            <dd><input type="text" id="regist-location"></dd>

            <dt>전화번호</dt>
            <dd><input type="number" id="regist-tel"></dd>

            <dt>업체 설명</dt>
            <dd><input type="text" id="regist-desc"></dd>

            <dt>업체 사진</dt>
            <dd><input type="file" id="regist-file"></dd>

            <dt>메뉴</dt>
            <dd class="menus">
                <button class="add-menu">+</button>
            </dd>
            
        </dl>
    </div>

    <button id="btn-reg-store">가게등록</button>

</div>