<div class="register-store">
    <h1>사장님의 가게를 등록해주세요</h1>
    <dl class="reg-form">
        <dt>업체명</dt>
        <dd><input></dd>

        <dt>업체 설명</dt>
        <dd><input></dd>

        <dt>메뉴</dt>
        <dd><input></dd>

        <dt>사진 등록</dt>
        <dd><input type="file"></dd>
    </dl>
    <button id="btn-reg-store">가게등록</button>

</div>