<div class="sign-in">
    <span id="btn-login-close" class="btn-close"><img src="./close.png"></span>
    <div class="sign-area">

        <input type="text">
        <input type="password">
        <button id="btn-login">로그인</button>
        <button id="btn-go-sign-up">회원가입 하기</button>
    </div>
</div>