<div class="sign-up">
    <span id="btn-sign-close" class="btn-close"><img src="./close.png"></span>
    <span class="sign-up-title">WELCOME</span>
    <div class="sign-up-form">
        <dl>
            <dt>이름</dt>
            <dd><input type="text"></dd>
            <dt>아이디</dt>
            <dd><input type="text"></dd>
            <dt>비밀번호</dt>
            <dd><input type="password"></dd>
            <dt>전화번호</dt>
            <dd><input type="text"></dd>
        </dl>
    </div>
    <button id="btn-sign-up">회원가입</button>
</div>