<div class="stat">
    <h1>가계 통계</h1>

    <div class="chart-area">
        <div class="weekCount-area">
            <h3>최근 4주간 주별 고객 수 통계</h3>
            <canvas id="weekHeadCount"></canvas>
        </div>

        <div class="age-area">
            <h3>최근 4주간 연령대별 고객 통계</h3>
            <canvas id="clientAge"></canvas>
        </div>

        <div class="time-area">
            <h3>시간대 별 평균 고객 수</h3>
            <canvas id="clientTime"></canvas>
        </div>

        <div class="party-area">
            <h3>동반 인원수별 고객 비율</h3>
            <canvas id="clientParty"></canvas>
        </div>
    </div>

</div>