<div class="store-list">
    <h1>가게 둘러보기</h1>

    <div class="store-card-list">
        <div class="store-card">
            <img class="card-img" src= "" alt="">
            <dl>
                <dt class="card-title">title</dt>
                <dd class="card-desc">description</dd>
            </dl>
        </div>

        <div class="store-card">
            <img class="card-img" src= "" alt="">
            <dl>
                <dt class="card-title">title</dt>
                <dd class="card-desc">description</dd>
            </dl>
        </div>

        <div class="store-card">
            <img class="card-img" src= "" alt="">
            <dl>
                <dt class="card-title">title</dt>
                <dd class="card-desc">description</dd>
            </dl>
        </div>

        <div class="store-card">
            <img class="card-img" src= "" alt="">
            <dl>
                <dt class="card-title">title</dt>
                <dd class="card-desc">description</dd>
            </dl>
        </div>

        <div class="store-card">
            <img class="card-img" src= "" alt="">
            <dl>
                <dt class="card-title">title</dt>
                <dd class="card-desc">description</dd>
            </dl>
        </div>
    </div>

</div>