<div class="detail-btn-area">
    <button id="btn-back">뒤로가기</button>
</div>
<div class="store-detail">
    <div class="store-detail-img">
        <img src="/dist/public/images/background.jpg">
    </div>
    <div class="store-detail-info">
        <h2 class="store-detail-title">가게 이름</h2>
        <p class="store-detail-desc">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
        </p>
    </div>
</div>