<div class="store-list">
    <h1>가게 둘러보기</h1>

    <div class="store-card-list">
        {{#each this}}
        <div class="store-card">
            <img class="card-img" src= "{{this._picture}}" alt="">
            <dl>
                <dt class="card-title">{{this._title}}</dt>
                <dd class="card-desc">{{trimString this._description 0 38}}</dd>
            </dl>
        </div>
        {{/each}}
    </div>

</div>