{{#each this}}
<div class="waiting-member" data-num={{this.ticketNumber}}>
    <div class="waiting-info">
        <p class="waiting-name">{{this.name}} <span class="waiting-num">{{this.headCount}}명</span> </p>
        <p class="waiting-tel">{{this.contactNumber}}</p>
    </div>
    
    <div class="waiting-btn-area">
        <div class="after-alarm">
            <span id="m5">5</span>
            <span id="m10">10</span>
        </div>
        <div class="btn-alarm">
            <ul class="alarm-opt">
                <li>5분 전</li>
                <li>10분 전</li>
            </ul>
        </div>
        <div class="btn-delete-in"></div>
        <div class="btn-delete-can"></div>
            
    </div>
</div>
{{/each}}