p {
    color: #FFAAAA;
}
<<<<<<< Updated upstream
=======

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    overflow: hidden;
}

button, input {
    border: none;
}
>>>>>>> Stashed changes
